$logo-text-color: #000000;
$basic-text-color: #212121;
$additional-text-color: #757575;
$auxiliary-text-color: #ffffff;
$hover-color: #2196f3;
$comand-bg-fone-color: #f5f4fa;
$comand-bg-fone-box: #ffffff;
$features-icon-bg-color: #f5f4fa;
$booton-text-color:#ffffff;
$booton-bg-color:#2196f3;
$booton-bg-activ-color: #188ce8;
$booton-shadoow-color: rgba(0, 0, 0, 0.15);
$border-header-color: #ececec;
$contact-footer-color: rgba(255, 255, 255, 0.6);
$background-footer-color: rgba(47, 48, 58, 0.4);
$bg-color-work-text: rgba(47, 48, 58, 0.8);
$border-portfolio-color: #eeeeee;
